body{
    text-align: center;
    font-family: sans-serif;
   
}
canvas {
    margin: auto;
    
}
.chart {
    padding: 10px;
}
.main{
    border-radius: 30px;
    overflow: hidden;
    max-width: 700px;
    height: auto;
    padding: 0;
    margin: auto;
    margin-top: 10px;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.24);
}
.main p{
    background-color: rgb(71, 141, 182);
    height: 50px;
    width: 100%;
    margin: 0 auto;
    padding-top: 10px;
}


.btn-down {
    background-color: rgb(71, 141, 182);
}
button {
    padding: 10px 15px;
    border-radius: 15px;
    border: solid 5px rgb(71, 141, 182);
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.24);
    margin-top: 10px;
    color: rgb(48, 48, 48);
    font-weight: 600;
    font-size: medium;
}
@media only screen and (min-width:680px){
    .chart {
        padding: 30px;
    }

    .main p {
        height: 70px;
    }
}